<header>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".header_navbar">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:">Anthill</a>
            </div>
            <div class="collapse navbar-collapse header_navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="index.html" class="glyphicon glyphicon-book">&nbsp;article</a>
                    </li>
                    <li>
                        <a href="../problem_solution/index.html" class="glyphicon glyphicon-bookmark">&nbsp;Pro&amp;Sol</a>
                    </li>
                    <li>
                        <a href="../mylife/index.html" class="glyphicon glyphicon glyphicon-road">&nbsp;my life</a>
                    </li>
                    <li>
                        <a href="../me/index.html" class="glyphicon glyphicon-user">&nbsp;me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>